body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #fffdf5; 
}

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  background-color: #fffdf5; 
}

/* Main Content */
#main-content {
  margin-left: 250px;
  padding: 30px;
  width: calc(100% - 250px);
  background-color: #e2dbd0; 
}

h1 {
  color: #103713; 
}

/* Action Buttons */
.action-buttons {
  padding: top 10px;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  margin-bottom: 30px;
  width: 100%;
}

/* Buttons */
.btn {
  background-color: #628b35;
  color: #fff;
  padding: 50px 0; 
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 100%; 
  text-align: center;
}

/* Button Hover */
.btn:hover {
  background-color: #103713;
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}


/* Dashboard Content */
#dashboard-content {
  background-color: #fffdf5; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
